<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audit et Conseils</title>

    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/audit-style.css" />

    <script src="../header.js"></script>
  </head>
  <body>
    <header>
      <div class="humberger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <a href="../index.html" class="logo"
        ><img src="../images/IRS_Horizontal.png" alt=""
      /></a>

      <nav class="navbar">
        <ul class="navbar-links">
          <li><a href="../index.html">Acceuil</a></li>
          <li><a href="../index.html#services">Services</a></li>
          <li><a href="../index.html#clients">Clients</a></li>
          <li><a href="../index.html#partners">Partenaires</a></li>
          <li><a href="../index.html#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="main">
      <h1>AUDIT ET CONSEILS</h1>
      <div class="card-container">
        <div class="img"></div>
        <p>
          Nous sommes persuadés que la clé de la réussite de quelconque projets
          informatiques est liée à une compréhension parfaite des besoins et des
          attentes des clients. Dans cette optique , I.R.S Technology , attache
          une grande importance à la partie Audit et consulting et conseil ,
          commençant par une analyse profonde de l’existant , de l’expérience
          clients , de nos préconisations et expérience afin de définir et de
          constituer avec nos clients des solutions adaptées, efficaces ,
          opérationnelles s’adaptant parfaitement à leurs besoins, à leurs
          activités et à leurs attentes N'hésitez pas à nous contacter, via le
          formulaire de contact, nos équipes d'avant-vente se feront un plaisir
          de vous répondre, afin de qualifier avec vous le besoin et vous aider
          à identifier le produit le plus adapté à votre besoin.
        </p>
      </div>
    </section>

    <footer>
      <h3>© 2022 I.R.S Technology</h3>
    </footer>
  </body>
</html>
