<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/telecom-style.css" />
    <title>Telecom, Telephonie et Communication UNIFIEE</title>

    <script src="../header.js" defer></script>
  </head>
  <body>
    <header>
      <div class="humberger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <a href="../index.html" class="logo"
        ><img src="../images/IRS_Horizontal.png" alt=""
      /></a>

      <nav class="navbar">
        <ul class="navbar-links">
          <li><a href="../index.html">Accuiel</a></li>
          <li><a href="../index.html#services">Services</a></li>
          <li><a href="../index.html#clients">Clients</a></li>
          <li><a href="../index.html#partners">Partenaires</a></li>
          <li><a href="../index.html#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="main">
      <h1>Telecom, Telephonie et Communication UNIFIEE</h1>
      <p>
        En s’associant à des organisations qui sont des chefs de file de
        l’industrie des technologies de l’information, I.R.S TECHNOLOGY est en
        mesure d’assurer la vente et le service après-vente de logiciels et de
        matériel Telecom et téléphonie de première qualité. Nos architectures et
        solutions faites sur mesure pour répondre aux besoins spécifiques de
        votre organisation pour une meilleure rentabilité et une meilleure
        productivité
      </p>

      <div class="clients-conatiner">
        <div class="client first-partner"></div>

        <div class="client second-partner"></div>

        <div class="client third-partner"></div>

        <div class="client fourth-partner"></div>
      </div>
    </section>

    <footer>
      <h3>© 2022 I.R.S Technology</h3>
    </footer>
  </body>
</html>
