<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ventre de Materiels et Logiciel Informatique</title>

    <link rel="stylesheet" href="../styles/vente-style.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/footer.css" />

    <script src="../header.js" defer></script>
  </head>
  <body>
    <header>
      <div class="humberger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <a href="../index.html" class="logo"
        ><img src="../images/IRS_Horizontal.png" alt=""
      /></a>

      <nav class="navbar">
        <ul class="navbar-links">
          <li><a href="../index.html">Accuiel</a></li>
          <li><a href="../index.html#services">Services</a></li>
          <li><a href="../index.html#clients">Clients</a></li>
          <li><a href="../index.html#partners">Partenaires</a></li>
          <li><a href="../index.html#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="main">
      <h1>Ventre de Materiels et Logiciel Informatique</h1>
      <p>
        Partenariat direct et/ou indirect via les distributeurs des grandes et
        leader technologiques du marché : DELLEMC, HPE, CISCO, FORTINET,
        Microsoft, VMware, Kaspersky, Veeam ... Négociation de Meilleurs taux de
        discount pour nos clients Matériel de qualité avec une garantie matériel
        prolonge géré par le constructeur lui même Finis les logiciels pirate,
        nous offrons les meilleurs logiciels à prix imbattables
      </p>

      <div class="clients-conatiner">
        <div class="client first-partner"></div>

        <div class="client second-partner"></div>

        <div class="client third-partner"></div>

        <div class="client fourth-partner"></div>

        <div class="client fifth-partner"></div>

        <div class="client sexth-partner"></div>

        <div class="client seventh-partner"></div>

        <div class="client egith-partner"></div>
      </div>
    </section>

    <footer>
      <h3>© 2022 I.R.S Technology</h3>
    </footer>
  </body>
</html>
